.container{
    width: 1000px;
    height: 800px;
    border: 5px solid rgb(3, 3, 3);
    margin: 0 auto;
   

    .balanceContainer{
        width: 600px;
        height:150px;
      border: 5px solid rgb(3, 3, 3);
      padding: 50px;
      margin: 15px auto;

      .buttonContainer{
      display: flex;
      justify-content: center; 
      margin-top: 10px;  
      
      .buttonContent:first-child{
          margin-right: 10px;
      }
    }
    }
    
    .transactionContainer{
        width: 600px;
        height:300px;
      border: 5px solid rgb(3, 3, 3);
      padding: 50px;
      margin: 15px auto;
    }
    
   
}

